*{
    margin-top:0%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
html{
    scroll-behavior: smooth;
}
body{
    background:#0F0F14;
    color:white;
}
nav{
    display:flex;
    width:80%;
    margin:auto;
    margin-top:10px;
  height:80px;
    
}
.nav-child1{
    font-size:30px;
    padding:20px;
    width:40%;
    
      
}
.nav-child2{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:70%;
    padding:20px;
    font-size: 20px;;


}
.nav-child2 button{
    background:none;
    color:white;
    border:none;
}
.a{
    text-decoration:none;
    color:white;
    margin-right:65px;
    width:500px;  
}

nav a:hover {
    color: #FF2E88;
    transition: 0.3s ease;
}

.hero-section{
    width:80%;
    height:650px;
    margin:auto;
    margin-top:10px;
    display:flex;

}
.hero1{
   width:50%;
   height:100%;
   padding: 10px;
   display: flex;
   align-items: center;
   text-align: justify;
   color: #9CA3AF;
   line-height: 1.2;


}
.hero1 h1 {
  font-size:50px;
  color:#F5F5F5;
  margin-bottom:9px;
}
h2{
    color:#d84082;
}
.hero2{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#image{
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height:100%;
 width:100%;
 position:relative;
}
#one{
    height:400px;
    width:600px;
}
.hero2 img{
   
     position:absolute;
}
.hero2 img:hover{
    transform: scale(1.1);
    transition:0.3s linear;
}
span{
    color:#F5F5F5;
}

.skill{
    display:flex;
    padding:10px;
    margin:auto;
    width:80%;
    height:250px;
 margin-top:30px;
 gap:30px;
    
}
.skills{
    width:200px;
    height:200px;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
.skillparent{
    width:100%;
    height:550px;
    background:#0F0F14;
    
}
.profile-img{
    
  filter: drop-shadow(6px 6px 10px rgba(255,0,102,0.9));
}

body.light {
    background:white;
    color:black;
}
body.light *{
    color:black;
}
body.light a:hover{
     color:#915FF0;
}
body.light h1 span{
     color:#915FF0;
}
body.light .skillparent{
    background:white;
}
body.light input{
    border:2px solid black;
}
body.light .scroll-down a{
    color:black;
    text-decoration: none;
}
body.light .social i{
color:black;
}

@keyframes animate{
    from{
        transform:translateY(0);
    }
    to{
        transform:translateY(7px);
    }
}
.skillsheading{
    margin:auto;
    font-size: 25px;;
    width:80%;
    height:70px; 
    padding-top:30px;
}
.skillsheading h1{
    width:120px;
    border-bottom:6px solid #ff0066;
}

.contact-parent{
    height:650px;
    width:80%;
    margin:auto;
    margin-bottom: 20px;
    
}
.contact-parent h1{
    margin-top:50px;
    margin-bottom: 50px;;
    font-size:50px;
    border-bottom:6px solid #ff0066;
    width:300px;
}
.contact-children{
    width:100%;
    height:100%;
    display:flex;
    margin-bottom:20px;
    
}
.child1{
    width:70%;
    height:100%;
    padding:0;
    
}
.child1 h1{
    font-size:40px;
    width:400px;
    margin:0;
    margin-bottom: 50px;;
}
.email {
    font-size: 20px;;
}
.child2{
    width:50%;
    height: 100%;
    padding-top:0px;
    display:flex;
    justify-content: center;
    
}
label{
    font-size:25px;
}
form input,button{
 width:450px;
 height:50px;
 font-size:20px;
 background:none;
 border:1px solid white;
 border-radius: 10px;
 color:white;
 padding:4px;
 outline:none;
}
button{
    border:none;
    background:#ff0066;
    color:white;
}
textarea{
   background:none;
   color:white;
   padding:0px;
   font-size:20px;
   outline:none;
}

input:focus,textarea:focus{
    
  border:1px solid #ff0066;
}
.bubbles {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  top: 0;
  left: 0;
}

.bubbles span {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background:rgba(255, 46, 136, 0.4);
  border-radius: 50%;
  animation: bubble 20s linear infinite;
  bottom: -150px;
}

.bubbles span:nth-child(1) {
  left: 10%;
  width: 40px;
  height: 40px;
  animation-duration: 10s;
}

.bubbles span:nth-child(2) {
  left: 20%;
  width: 20px;
  height: 20px;
  animation-duration: 12s;
}

.bubbles span:nth-child(3) {
  left: 25%;
  width: 30px;
  height: 30px;
  animation-duration: 18s;
}

.bubbles span:nth-child(4) {
  left: 40%;
  animation-duration: 10s;
}

.bubbles span:nth-child(5) {
  left: 55%;
  width: 25px;
  height: 25px;
  animation-duration: 15s;
}

.bubbles span:nth-child(6) {
  left: 70%;
  width: 15px;
  height: 15px;
  animation-duration: 17s;
}

.bubbles span:nth-child(7) {
  left: 80%;
  animation-duration: 11s;
}

.bubbles span:nth-child(8) {
  left: 90%;
  width: 30px;
  height: 30px;
  animation-duration: 18s;
}

.bubbles span:nth-child(9) {
  left: 95%;
  width: 10px;
  height: 10px;
  animation-duration: 16s;
}

.bubbles span:nth-child(10) {
  left: 50%;
  width: 35px;
  height: 35px;
  animation-duration: 9s;
}
.bubbles span:nth-child(11) {
  left: 95%;
  width: 10px;
  height: 10px;
  animation-duration: 6s;
}
.bubbles span:nth-child(12) {
  left: 70%;
  width: 15px;
  height: 15px;
  animation-duration: 17s;
}
.bubbles span:nth-child(13) {
  left: 40%;
  animation-duration: 10s;
}
.bubbles span:nth-child(14) {
  left: 25%;
  width: 30px;
  height: 30px;
  animation-duration: 12s;
}




@keyframes bubble {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(-1000px) scale(1.5);
    opacity: 0;
  }
}

.scroll{
  width:100%;
  height:60px;
  display: flex;
  justify-content: center;
}
.scroll-down{
    width:50px;
    height:50px;
    border:2px solid #ff0066;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    animation:scroll 0.9s linear normal infinite;
}
.scroll-down a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    
}
.scroll-down a:hover{
    text-decoration: none;
}

@keyframes scroll {
    from{
        transform: translateY(0px);
    }
    to{
        transform:translateY(5px);
    }
}

 .social i{
    font-size: 30px;
    margin-right: 10px;
    color:white;
 }

 .skill img{
  height:100px ;
  width:200px;
  margin-right:10px;
  animation:animate 1s linear infinite alternate;
 }
 .skill p{
  display: flex;
  width:100%;
  flex-wrap:wrap;
  justify-content: center;
  
 }